
<div class="row">
	<div class="large-12 columns">
		&nbsp;
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<div data-alert class="alert-box alert round">
			웹 소켓 연결 실패 
		</div>
	</div>
</div>
